[Unit]
Description=Todo service

[Service]
Environment=REDIS_HOST=DNS_REDIS
ExecStart=/bin/node /root/todoshell/todo/server.js
SyslogIdentifier=todo
Restart=on-failure

[Install]
WantedBy=multi-user.target